<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="keywords" content="闲余座,二手交易" />
    <meta name="description" content="马鞍山闲余座（masxyz），二手交易平台 " />
    <meta charset="utf-8" content="text/html" http-equiv="content-type">
	<meta http-equiv="Cache-Control" content="max-age=3600">
	<meta name="MobileOptimized" content="240">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title><%= title %></title>
    <!-- build:css(.) assets/styles/vendor.css -->
    <!-- bower:css -->
	<link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" />
    <!-- endbower -->
    <!-- endbuild -->
</head>
<body screen_capture_injected="true">