<ul class="nav-wrap">
    <li class="nav-item-release curr">
     	<a href="/wap/list"><i class="icon-release"></i>发布</a>
    </li>
    <li class="nav-item-purchase">
     	<a href="/wap/course"><i class="icon-purchase"></i>求购</a>
    </li>
	<li class="nav-item-homepage">
     	<a href="/"><i class="icon-homepage"></i>首页</a>
    </li>
    <li class="nav-item-exchange">
     	<a href="/exchange/new"><i class="icon-exchange"></i>交换</a>
    </li>
    <li class="nav-item-mes">
     	<a href="/user"><i class="icon-mes"></i>我的</a>
    </li>
 </ul>