<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- sales list module start -->
		<div class="mt-15 bg-e8e8e8 clearfix">
            <ul class="xyz-list bg-fff">
                <li class="mb-10 ml-15 mr-15" style="width:200px;">
                    <div class="xyz-table">
                        <span class="cell-title pt-5 pb-5 w-60">
                            <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                        </span>
                        <span class="cell-input va-b pl-10">
                            用户名
                            <span class="pos-a r-10">1小时前</span>
                        </span>
                    </div>
                </li>
				<li class="mb-10 ml-15 mr-15" style="width:200px;">
                    <div class="xyz-table">
                        <span class="cell-title pt-5 pb-5 w-60">
                            <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                        </span>
                        <span class="cell-input va-b pl-10">
                            用户名
                            <span class="pos-a r-10">1小时前</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
		<!-- sales list module end -->	
	</div>
<% include ../../includes/script.html %>