<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- buy new module start -->
		<div class="mt-20 pb-20 bg-fff">
			<form class="form-horizontal" role="form" method="post" onsubmit="return false">
				<div class="xyz-list">
				    <ul>
                        <li>
                            <span class="xyz-table pd-5">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                <a href="#">
                                    <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                                </a>                               
                            </span>
                        </li>
				        <li>
				            <span class="xyz-table">
								<span class="cell-title w-80">
									名称：
								</span>
								<span class="cell-input">
									<input type="text" name="name" class="input-pro" placeholder="闲余的名称和型号（6-20字）" required />
								</span>
							</span>
				        </li>
				        <li>
				            <span class="xyz-table">
                                <span class="cell-title w-60">
                                    吆喝：
                                </span>
                                <span class="cell-input">
                                    <textarea class="input-pro h-70" name="details" placeholder="为你出售的宝贝吆喝几句（50字内）"></textarea>
                                </span>
                            </span>
				        </li>
				        <li>
				            <div class="w-half in va-m">
				                <span class="xyz-table pr-20">
									<span class="cell-title w-60">
										分类：
									</span>
									<span class="cell-input">
										<span class="input-pro select-value"></span>
										<i class="select-drop"></i>
										<select class="input-pro" hidefocus="true">
											<option value="1">居家生活</option>
											<option selected="selected" value="2">家用电器</option>
											<option value="3">wifi设备</option>
											<option value="4">摄影器材</option>
											<option value="5">服饰鞋包</option>
											<option value="6">美妆护肤</option>
											<option value="7">婴孕儿童</option>
											<option value="8">宠物当家</option>
											<option value="9">书籍问题</option>
											<option value="10">交通工具</option>
											<option value="11">卡券票务</option>
											<option value="12">其他</option>
										</select>
									</span>
								</span>
				            </div><!--
				         --><div class="w-half in va-m">
				                <span class="xyz-table pl-20">
									<span class="cell-title w-60">
										成色：
									</span>
									<span class="cell-input">
										<span class="input-pro select-value"></span>
										<i class="select-drop"></i>
										<select class="input-pro" hidefocus="true">
											<option value="1">9成新</option>
											<option selected="selected" value="2">8成新</option>
											<option value="3">7成新</option>
											<option value="4">6成新</option>
											<option value="5">5成新</option>
										</select>
									</span>
								</span>
				            </div>
				        </li>
				        <li>
				            <div class="w-half in va-m">
				                <span class="xyz-table pr-20">
                                    <span class="cell-title w-60">
                                        现价：
                                    </span>
                                    <span class="cell-input">
                                        <input type="text" name="name" class="input-pro pr-20" />
                                        <span class="pos-a ml--20"> 元 </span>
                                    </span>
                                </span>
				            </div><!--
				         --><div class="w-half in va-m">
				                <span class="xyz-table pl-20">
                                    <span class="cell-title w-60">
                                        原价：
                                    </span>
                                    <span class="cell-input">
                                        <input type="text" name="name" class="input-pro pr-20" />
                                        <span class="pos-a ml--20"> 元 </span>
                                    </span>
                                </span>
				            </div>
				        </li>
				        <li>
				            <div class="w-half in va-m">
				                <span class="xyz-table pr-20">
									<span class="cell-title w-80">
										手机号：
									</span>
									<span class="cell-input">
										<input type="text" name="phone" class="input-pro" placeholder="手机号" />
									</span>
								</span>
				            </div><!--
				         --><div class="w-half in va-m">
				                <span class="xyz-table pl-20">
									<span class="cell-title w-80">
										联系人：
									</span>
									<span class="cell-input">
										<input type="text" name="phone" class="input-pro" placeholder="联系人" />
									</span>
								</span>
				            </div>
				        </li>
				        <li>
				            <span class="xyz-table">
								<span class="cell-title">
									交易地点：
								</span>
								<span class="cell-input">
									<input type="text" name="name" class="input-pro pr-50" placeholder="填写交易地点" />
									<span class="btn btn-text br-3 pos-a t-18 r-10">约定</span>
								</span>
								
							</span>
				        </li>
				    </ul>
					<input class="btn btn-green radius mt-20 ml-30 w-150"  type="reset" value="重填">
					<input class="btn btn-green radius mt-20 mr-30 w-150 r"  type="submit" value="提交">
				</div>
			</form>
		</div>
		<!-- buy new module end -->	
	</div>
<% include ../../includes/script.html %>