<% include ../../includes/head.html %>
	<div class="containBox">
	    <header class="header pt-16">
		   <div class="search_header header-searchbox flex">
		         <div class="bg-fff pos-r search-box">
				    <form onsubmit="return false;" action="">
				        <input class="c-999 input-search" id="searchKeyword" type="search" placeholder="搜索" />
		                <span class="pos-r  search-cancel" style="display: inline;"></span>
					</form>
		        </div>
		        <a class="pl-10 c-fff search-cancel-btn" href="/">取消</a>
		    </div>
	    </header>
		<!-- user space module start -->
		<h4 class="pl-20">热门搜索</h4>
		<div class="pd-20 pt-0 bg-fff">
           <div class="btn btn-transparent mt-20 mr-10">iPhone6</div>
		   <div class="btn btn-transparent mt-20 mr-10">iPhone6</div>
		   <div class="btn btn-transparent mt-20 mr-10">iPhone6</div>
		   <div class="btn btn-transparent mt-20 mr-10">iPhone6</div>
		   <div class="btn btn-transparent mt-20 mr-10">iPhone6</div>
		   <div class="btn btn-transparent mt-20 mr-10">iPhone6</div>
		</div>
		<!-- user space module end -->	
	</div>
<% include ../../includes/script.html %>