<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- buy list module start -->
        <div class="mt-20 pb-20 bg-fff">
            <div class="xyz-list">
                <ul>
                    <li>
                        <span class="xyz-table">
                            <span class="cell-title pt-5 pb-5 w-60">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                            </span>
                            <span class="cell-input va-b pl-10">
                                用户名
                                <span class="pos-a r-10">2015-7-20</span>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="xyz-table">
                            <span class="cell-title w-50">
                                求购：
                            </span>
                            <span class="cell-input">
                                笔记本电脑一台
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="xyz-table">
                            <span class="cell-title w-50">
                                价位：
                            </span>
                            <span class="cell-input">
                                <span>2000</span>
                                <span>至</span>
                                <span>2500</span>
                                <span>元</span>
                            </span>

                        </span>
                    </li>
                    <li>
                        <span class="xyz-table">
                            <span class="cell-title w-50">
                                要求：
                            </span>
                            <span class="cell-input">
                                急啊看见分厘卡十分艰苦拉萨进度付款啦就是；精神分裂圣诞节分厘卡路上看到房价
                            </span>
                        </span>
                    </li>
                    <li>
                        <div class="w-half in va-m">
                            <span class="xyz-table pr-20">
                                <span class="cell-title w-50">
                                    电话：
                                </span>
                                <span class="cell-input">
                                    13965623069
                                </span>
                            </span>
                        </div><!--
                    --><div class="w-half in va-m">
                            <span class="xyz-table pl-20">
                                <span class="cell-title w-50">
                                    称呼：
                                </span>
                                <span class="cell-input">
                                    小龙哥
                                </span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <span class="xyz-table">
                            <span class="cell-title">
                                交易地点：
                            </span>
                            <span class="cell-input">
                                马鞍山闲余座总部
                                <span class="btn btn-text br-3 pos-a t-18 r-10">约定</span>
                            </span>

                        </span>
                    </li>
                    <li class="pt-20">
                    </li>
                    <li class="pr-0">
                        <div class="w-half in va-m divider-r bdc-a59783">
                            <span class="xyz-table pr-20">
                                <span class="cell-title">
                                    周女士 13965623069
                                </span>
                            </span>
                        </div><!--
                    --><div class="w-half in va-m">
                            <div class="w-half in va-m divider-r bdc-a59783 ">
                                <span class="xyz-table icon-telphone">
                                    <span class="cell-title pl-70">
                                        电话
                                    </span>
                                </span>
                            </div><!--
                        --><div class="w-half in va-m">
                                <span class="xyz-table icon-mail">
                                    <span class="cell-title pl-70">
                                        短信
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
		<!-- buy list module end -->	
	</div>
<% include ../../includes/script.html %>