<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- buy list module start -->
		<div class="mt-15 bg-e8e8e8">
            <div class="xyz-list">
                <ul>
                    <li class="bg-fff mb-70">
                        <div class="xyz-table">
                            <span class="cell-title pt-5 pb-5 w-60">
                                <img src="/image/user_photo.png" style="width: 60px; height: 60px">
                            </span>
                            <span class="cell-input va-b pl-10">
                                用户名
                                <span class="pos-a r-10">1小时前</span>
                            </span>
                        </div>
                        <div class="xyz-table pd-0 f-22">
                            <span class="cell-title w-70 pt-5 pb-5">
                                求购：
                            </span>
                            <span class="cell-input pt-5 pb-5">
                                <a href="#">笔记本电脑一台</a>
                            </span>
                        </div>
                        <div class="xyz-table">
                            <span class="cell-title pt-5">
                                <span class="c-f00 f-18">2000 - 2500</span>
                                <span class="c-f00 f-12">元</span>
                            </span>
                        </div>
                        <div class="toolbar xyz-table pos-a bg-fff ml--30 mt-1">
                            <span class="cell-title text-c">
                                <i class="icon-like"></i>
                                <span>99+</span>
                            </span>
                            <span class="cell-title text-c">
                                <i class="icon-message"></i>
                                <span>88</span>
                            </span>
                            <span class="cell-title text-c">
                                <i class="icon_share"></i>
                                <span>分享</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
		<!-- buy list module end -->	
	</div>
<% include ../../includes/script.html %>