<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- buy new module start -->
		<div class="mt-20 pb-20 bg-fff">
			<div class="xyz-list userspace">
			    <ul>
				    <li class="cl">
                        <span class="th bdc-fff">
                            名称：
                        </span>
                        <span class="td bdc-fff">
                            <input type="text" name="name" placeholder="闲余的名称和型号（6-20字）" required />
                        </span>
					</li>
	                <li class="cl">
						<span class="th">
						    名称：
					    </span>
					    <span class="td">
						    <input type="text" name="name" placeholder="闲余的名称和型号（6-20字）" required/>
					    </span>
					</li>
					<li class="cl">
						<span class="th">
						    吆喝：
					    </span>
					    <span class="td">
						    <textarea class="textarea" name="details" placeholder="为你出售的宝贝吆喝几句（50字内）" style="height:160px" ></textarea>
					    </span>
					</li>
					<li class="cl">
					    <div class="in" style="width:50%">
						    <span class="th">
						        分类：
					        </span>
					        <span class="td">
						        <select hidefocus="true">
	                    	    <option value="1">居家生活</option>
	                    	    <option selected="selected" value="2">家用电器</option>
	                    	    <option value="3">wifi设备</option>
	                    	    <option value="4">摄影器材</option>
								<option value="5">服饰鞋包</option>
								<option value="6">美妆护肤</option>
								<option value="7">婴孕儿童</option>
	                    	    <option value="8">宠物当家</option>
								<option value="9">书籍问题</option>
								<option value="10">交通工具</option>
								<option value="11">卡券票务</option>
								<option value="12">其他</option>
	                             </select>
					        </span>
						</div>
						<div class="in" style="width:50%">
						<span class="th">
						    成色：
					    </span>
					    <span class="td">
						    <select hidefocus="true">
	                    	    <option value="1">9成新</option>
	                    	    <option selected="selected" value="2">8成新</option>
	                    	    <option value="3">7成新</option>
								<option value="4">6成新</option>
								<option value="5">5成新</option>
	                        </select>
					    </span>
						</div>
					</li>
				</ul>
            </div>
		</div>
		<!-- buy new module end -->	
	</div>
<% include ../../includes/script.html %>