<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- change password module start -->
		<div class="mt-20 pd-20 bg-fff">
		    <form class="form-horizontal" role="form" method="post" onsubmit="return false">
			    <p class="callback-has-error mb-10">
				    <%- message %>
			    </p>
			    <div class="xyz-list hastopline">
			        <ul>
	                    <li class="cl">
					        <span class="th">
						        原密码
					        </span>
					        <span class="td">
						        <input type="password" id="password" name="password" placeholder="请输入原始密码" required/>
					        </span>
					    </li>
					    <li class="cl">
					        <span class="th">
						        密码
					        </span>
					        <span class="td">
						        <input type="password" id="password" name="password" placeholder="请输入新密码" required/>
					        </span>
					    </li>
					    <li class="cl">
					        <span class="th">
						        密码
					        </span>
					        <span class="td">
						        <input type="password" id="password" name="password" placeholder="再次输入新密码" required/>
					        </span>
					    </li>
					</ul>
                </div>
			    <input id="login0" class="btn btn-green btn-block radius mt-20" type="submit" value="提交" />
			</form>
		</div>
		<!-- change password module end -->	
	</div>
<% include ../../includes/script.html %>