<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- favorite module start -->
		<div class="product-list">
		    <div class="list-items">
			    <div class="list">
				    <a href="/user">
					    <h3>PSP3006 黑色</h3>
					    <div id="cancel" class="btn btn-text pos-a t-25 r-20 br-3">取消收藏</div>
					    <div class="picbox">
						    <img class="img3" src="/image/Produc1_303x301.jpg"></img>
							<img class="img3" src="/image/Produc1_303x301.jpg"></img>
							<img class="img3" src="/image/Produc1_303x301.jpg"></img>
						</div>
					</a>
				</div>
				<div class="list">
				    <a href="/user">
					    <h3>PSP3006 黑色</h3>
					    <div id="cancel" class="btn cancel pos-a t-25 r-20">取消收藏</div>
					    <div class="picbox">
						    <img class="img1" src="/image/Produc1_303x301.jpg"></img>
						</div>
					</a>
				</div>
				<div class="list">
				    <a href="/user">
					    <h3>求购：笔记本电脑一台</h3>
					    <div id="cancel" class="btn cancel pos-a t-25 r-20">取消收藏</div>
					    <p>
						   将飞机就撒娇分明就是犯贱啊睡觉覅哦看啥的飞机喀什发动机啊事件的风景啊上了飞机手机防盗；垃圾啊是否l；啊可是对方空间
						</p>
					</a>
				</div>
				<div class="list">
				    <a href="/user">
					    <h3>交换《网络实战营销全书》</h3>
					    <div id="cancel" class="btn cancel pos-a t-25 r-20">取消收藏</div>
					    <p>
						   将飞机就撒娇分明就是犯贱啊睡觉覅哦看啥的飞机喀什发动机啊事件的风景啊上了飞机手机防盗；垃圾啊是否l；啊可是对方空间
						</p>
					</a>
				</div>
				<div class="cl"></div>
			</div>
		</div>
		<div class="load-more status-loading">
		</div>
		<!-- favorite module end -->	
	</div>
<% include ../../includes/script.html %>
<script type="text/javascript">
    $(function(){
	    $("#cancel").click(function(){
		    alert("asdf");
			return false;
		}); 
	});
</script>