<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- favorite module start -->
		<div class="product-list">
		    <div class="list-items mt-20 bg-fff">
			    <div class="list">
				    <h3>PSP3006 黑色</h3>
					<div class="cancel">取消收藏</div>
				    <a hre="">
					    <div class="img"></div>
					</a>
				</div>
			</div>
			<div class="list-items mt-20 bg-fff">
			    <div class="list">
				    <h3>PSP3006 黑色</h3>
					<div class="cancel">取消收藏</div>
				    <a hre="">
					    <div class="img"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="load-more status-loading">
		</div>
		<!-- favorite module end -->	
	</div>
<% include ../../includes/script.html %>