<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- forget password module start -->
		<div class="mt-20 pd-20 bg-fff">
		    <form class="form-horizontal" role="form" method="post" onsubmit="return false">
			<p class="callback-has-error mb-10">
				<%- message %>
			</p>
			<div class="xyz-list">
			    <ul>
				    <li class="cl lh-30">
					    <span>
						    请用注册时用的手机号码找回密码
					    </span>
					</li>
	                <li class="cl">
					    <span class="th">
						    手机号
					    </span>
					    <span class="td">
						    <input type="phone" id="phone" name="phone" placeholder="请输入手机号" required />
					    </span>
					</li>
					<li class="cl">
					    <span class="th">
						    验证码
					    </span>
					    <span class="td pos-r">
						    <input type="text" class="pr-80" id="randomCode" name="verifyCode" placeholder="验证码"  required>
						    <button class="pos-a phoneCode" id="phoneCode" name="phoneCode">获取验证码</button>
					    </span>
					</li>
					<li class="cl">
					    <span class="th">
						    密码
					    </span>
					    <span class="td">
						    <input type="password" id="password" name="password" placeholder="请输入密码" required/>
					    </span>
					</li>	
				</ul>
            </div>
			<input id="login0" class="btn btn-green btn-block radius mt-20" type="submit" value="提交" />
			<a href="/register" class="mt-20 block text-l l link">立即注册</a>	
			<a href="http://passport.zcool.com.cn/wap_getpassword.do?appId=1006" class="mt-20  block text-r r link">忘记密码？</a>
			<div class="cl"></div>
		</form>
		</div>
		<!-- forget password module end -->	
	</div>
<% include ../../includes/script.html %>