<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- user space module start -->
		<div class="mt-20 bg-fff">
			<div class="xyz-list userspace">
			    <ul>
				    <li class="cl pl-50">
						<a><i></i>登陆</a>
					</li>
	                <li class="cl pl-50">
						<a><i class="icon-release"></i>我的发布</a>
					</li>
					<li class="cl pl-50">
					    <a><i class="icon-like"></i>我的收藏</a>
					</li>
					<li class="cl pl-50">
					    <a><i class="icon-changepassword"></i>密码修改</a>
					</li>
					<li class="cl pl-50">
					    <a><i class="icon-info"></i>代买说明</a>
					</li>
					<li class="cl pl-50">
					    <a><i class="icon-safety"></i>安全攻略</a>
					</li>
					<li class="cl pl-50">
					    <a><i class="icon-advice"></i>意见反馈</a>
					</li>
				</ul>
            </div>
		</div>
		<!-- user space module end -->	
	</div>
<% include ../../includes/script.html %>