<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- user space module start -->
		<div class="mt-20 bg-fff">
			<div class="xyz-list userspace">
			    <ul>
				    <li class="cl pl-40 pt-10 pb-10">
						<div class="cl user-info">
						    <div class="picbox">
						        <img src="/image/user_photo.png" />
							</div>
							<div class="textbox">
							    <h2 class="va-m pos-a">用户名</h2>
							</div>
						</div>
					</li>
	                <li class="cl">
						<a class="block pl-40">
						    <i class="icon-release"></i>
							我的发布
							<span class="r mr-20"> +1 </span>
					    </a>
						
					</li>
					<li class="cl">
					    <a href="/favorite" class="block pl-40"><i class="icon-like"></i>我的收藏</a>
					</li>
					<li class="cl">
					    <a href="/changepassword" class="block pl-40"><i class="icon-changepassword"></i>密码修改</a>
					</li>
					<li class="cl">
					    <a class="block pl-40"><i class="icon-info"></i>代买说明</a>
					</li>
					<li class="cl">
					    <a class="block pl-40"><i class="icon-safety"></i>安全攻略</a>
					</li>
					<li class="cl">
					    <a href="/suggest" class="block pl-40"><i class="icon-advice"></i>意见反馈</a>
					</li>
				</ul>
            </div>
		</div>
		<!-- user space module end -->	
	</div>
<% include ../../includes/script.html %>