<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- login module start -->
		<div class="mt-20 pd-20 bg-fff">
		    <form class="form-horizontal" role="form" method="post" onsubmit="return false">
			<p class="callback-has-error mb-10">
				<%- message %>
			</p>
			<div class="xyz-list hastopline">
			    <ul>
	                <li class="cl">
					    <span class="th">
						    密码
					    </span>
					    <span class="td">
						    <input type="text" id="username" name="username" placeholder="请输入昵称、手机号" required>
					    </span>
					</li>
	                <li class="cl">
					    <span class="th">
						    验证码
					    </span>
					    <span class="td">
						    <input type="password" id="password" name="password" placeholder="请输入密码" required>
					    </span>
					</li>
					<li class="cl">
					    <span class="th">
						    用户名
					    </span>
					    <span class="td pos-r">
						    <input type="text" class="pr-80" id="randomCode" name="verifyCode" placeholder="验证码"  required>
						    <img class="pos-a verifyCode" id="randomCodeImg" src="/checkcode" onclick="reloadCodeImage()" />
					    </span>
					</li>
				</ul>
            </div>
			<input id="login0" class="btn btn-green btn-block radius mt-20" type="submit" value="提交" />
			<a href="http://passport.zcool.com.cn/wap_reg.do?appId=1006" class="mt-20 block text-l l link">立即注册</a>	
			<a href="http://passport.zcool.com.cn/wap_getpassword.do?appId=1006" class="mt-20  block text-r r link">忘记密码？</a>
		</form>
		</div>
		<!-- login module end -->	
	</div>
<% include ../../includes/script.html %>
	<script type="text/javascript">
	$(function(){ 
		$("#register0").click(function(){ 
			location.href = 'register';
		});
		$("#login0").click(function(){ 
			var username = $("#username").val();
			var password = $("#password").val();
			var randomCode = $("#randomCode").val();
			var data = {"uname":username,"upwd":password,"urandomCode":randomCode};
			$.ajax({ 
				url:'/login',
				type:'post',
				data: data,
				success: function(data,status){ 
					if(status == 'success'){ 
						location.href = 'home';
					}
				},
				error: function(data,status){		
					if(status == 'error'){ 
						location.href = 'login';
					}
				}
			});
		});
	});
	
	function reloadCodeImage(){
	    var t=new Date().valueOf();
		$("#randomCodeImg").attr("src", "/checkcode?t=" + t);
	}
	
	</script>

