<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
	    <%- message %>
		<form class="form-horizontal" role="form" method="post" onsubmit="return false">
			<fieldset>
				<legend></legend>
				<div class="panel panel-default">
				<div class="panel-heading">
					<p class="tc">请先登录</p>
				</div>
				<div class="panel-body m15">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
						</span>
						<input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="text" class="form-control" id="password" name="password" placeholder="请输入密码" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="text" class="form-control" id="randomCode" name="randomCode" required>
						<img id="randomCodeImg" src="/checkcode" onclick="reloadCodeImage()" />
					</div>
				</div>
				<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" id="login0">登录</button>
				</div>
				<div class="form-group">
						<button type="button" class="btn btn-info col-sm-2 col-sm-offset-10" id="register0">注册</button>
				</div>
				</div>
				</div>
			</fieldset>
		</form>
	</div>
<% include ../../includes/script.html %>
	<script type="text/javascript">
	$(function(){ 
		$("#register0").click(function(){ 
			location.href = 'register';
		});
		$("#login0").click(function(){ 
			var username = $("#username").val();
			var password = $("#password").val();
			var randomCode = $("#randomCode").val();
			var data = {"uname":username,"upwd":password,"urandomCode":randomCode};
			$.ajax({ 
				url:'/login',
				type:'post',
				data: data,
				success: function(data,status){ 
					if(status == 'success'){ 
						location.href = 'home';
					}
				},
				error: function(data,status){		
					if(status == 'error'){ 
						location.href = 'login';
					}
				}
			});
		});
	});
	
	function reloadCodeImage(){
	    var t=new Date().valueOf();
		$("#randomCodeImg").attr("src", "/checkcode?t=" + t);
	}
	
	</script>

