<% include ../../includes/head.html %>
	<div class="containBox">
	    <% include ../../includes/header.html %>
		<% include ../../includes/navigation.html %>
		<!-- my release module start -->
		<div class="product-list">
		    <div class="list-items">
			    <div class="list">
				    <a href="/user">
					    <h3>PSP3006 黑色</h3>
					    <div class="date pos-a t-25 r-20">2015-08-04</div>
					    <div class="picbox">
						    <img class="img3" src="/image/Produc1_303x301.jpg"></img>
							<img class="img3" src="/image/Produc1_303x301.jpg"></img>
							<img class="img3" src="/image/Produc1_303x301.jpg"></img>
						</div>
						<a href="/register" class="mt-20 mr-10 block l ">2人收藏</a>	
			            <a href="/forgetpassword" class="mt-20 block l ">456浏览</a>
						<div id="offShelf" class="btn btn-text r mt-20 ml-10 br-3">下架</div>
						<div id="edit" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="btn btn-text r mt-20 ml-10 br-3">已卖出</div>
						<div id="delete" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="cl"></div>
					</a>
				</div>
				<div class="list">
				    <a href="/user">
					    <h3>PSP3006 黑色</h3>
					    <div class="date pos-a t-25 r-20">2015-08-04</div>
					    <div class="picbox">
						    <img src="/image/Produc1_303x301.jpg"></img>

						</div>
						<a href="/register" class="mt-20 mr-10 block l ">2人收藏</a>	
			            <a href="/forgetpassword" class="mt-20 block l ">456浏览</a>
						<div id="offShelf" class="btn btn-text r mt-20 ml-10 br-3">下架</div>
						<div id="edit" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="btn btn-text r mt-20 ml-10 br-3">已卖出</div>
						<div id="delete" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="cl"></div>
					</a>
				</div>
				<div class="list">
				    <a href="/user">
					    <h3>求购：笔记本电脑一台</h3>
					    <div class="date pos-a t-25 r-20">2015-08-04</div>
					    <p>
						   将飞机就撒娇分明就是犯贱啊睡觉覅哦看啥的飞机喀什发动机啊事件的风景啊上了飞机手机防盗；垃圾啊是否l；啊可是对方空间
						</p>
						<a href="/register" class="mt-20 mr-10 block l ">2人收藏</a>	
			            <a href="/forgetpassword" class="mt-20 block l ">456浏览</a>
						<div id="offShelf" class="btn btn-text r mt-20 ml-10 br-3">下架</div>
						<div id="edit" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="btn btn-text r mt-20 ml-10 br-3">已卖出</div>
						<div id="delete" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="cl"></div>
					</a>
				</div>
				<div class="list">
				    <a href="/user">
					    <h3>交换《网络实战营销全书》</h3>
					    <div class="date pos-a t-25 r-20">2015-08-04</div>
					    <p>
						   将飞机就撒娇分明就是犯贱啊睡觉覅哦看啥的飞机喀什发动机啊事件的风景啊上了飞机手机防盗；垃圾啊是否l；啊可是对方空间
						</p>
						<a href="/register" class="mt-20 mr-10 block l ">2人收藏</a>	
			            <a href="/forgetpassword" class="mt-20 block l ">456浏览</a>
						<div id="offShelf" class="btn btn-text r mt-20 ml-10 br-3">下架</div>
						<div id="edit" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="btn btn-text r mt-20 ml-10 br-3">已卖出</div>
						<div id="delete" class="btn btn-text r mt-20 ml-10 br-3">修改</div>
						<div class="cl"></div>
					</a>
				</div>
				<div class="cl"></div>
			</div>
		</div>
		<div class="load-more status-loading">
		</div>
		<!-- favorite module end -->	
	</div>
<% include ../../includes/script.html %>
<script type="text/javascript">
    $(function(){
	    $("#cancel").click(function(){
		    alert("asdf");
			return false;
		}); 
	});
</script>